body{
    margin: 0;
    width: 100%;
    font-family: 'Arvo', serif;
    
}

.row {
    margin-right: 0px!important;
    margin-left: 0px!important; 
}

/* Main */

.main{
    background: url("../images/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    width: 100%;
    position:relative;
}

.active {
    border-radius: 5px;
    border: 1px solid #dd2a0b;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    font-family: 'Arvo', serif;
    background-color: transparent;
    z-index: 1;

}

.changeColor{
    background-color: rgba(0,0,0,0.8);
    transition: 0.3s all;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0px;
    padding: 2%;
}

nav li{
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}

nav li a{
    color: #bad32f;
    font-size: 16px;
    padding: 12px;
    border: 1px solid transparent;
}

nav li a:hover{
    border: 1px solid #D32F2F;
    border-radius: 5px;
    color: #D32F2F;
    background-color: transparent;
    text-decoration: none;
}

nav li a:visited, nav li a:focus{
    color: #D32F2F;
    text-decoration: none;
    list-style: none;
}


.logo{
    margin-left: 3%;
    margin-top: 2%;
    width: 200px;
}

.Big{
color:#bad32f;
font-size:50px;


}

.text-slider-items { 
    display: none; 
    
} 
.text-slider{
    margin-left: 100px;
    color: #e0fd5e;
    font-size:100px;
}

/*End of Main */

/*Section First*/

.position{
    background-color: rgba(189, 189, 189, 0.5);
}

.first{
    height: 550px;
    width: 100%;
    background-color: rgba(189, 189, 189, 0.5);
    margin: 0px;
    font-family: 'Arvo', serif;
    
}

.first h2, .second h2{
    margin: 70px auto;
    text-align: center;
    color: #D32F2F;
}

.first p{
    color: #212121;
    font-size: 16px;
    margin: 20px;
    text-align: left;
}

.first p:last-child {
    margin-bottom: 70px;
}


/*End of First */

/*Section Second*/

.second{
    height: auto;
    width: 100%;
    margin: 0px;
    font-family: 'Arvo', serif;
}

.second h3{
    text-align: center;
    color: #D32F2F;
}

.second p{
    color: #212121;
    text-align: left;
    padding: 20px;
}

.row-boxes{
    margin-bottom: 90px;
}

.col-boxes{
    padding: 1px !important;
}

.box-image{
    width:100%;
    height: 350px;
    overflow: hidden;
    background:  url('../images/french-1.jpeg') no-repeat center center;
    z-index: -1;
    cursor:pointer;
}

.box-image2{
    width:100%;
    height: 350px;
    overflow: hidden;
    background:  url('../images/french-2.jpeg') no-repeat center center;
    z-index: -1;
    cursor:pointer;
}

.box-image3{
    width:100%;
    height: 350px;
    overflow: hidden;
    background:  url('../images/french-3.jpeg') no-repeat center center;
    z-index: -1;
    cursor:pointer;
}

.box-image4{
    width:100%;
    height: 350px;
    overflow: hidden;
    background:  url('../images/french-4.jpeg') no-repeat center center;
    z-index: -1;
    cursor:pointer;
}

.box-image5{
    width:100%;
    height: 350px;
    overflow: hidden;
    background:  url('../images/french-5.jpeg') no-repeat center center;
    z-index: -1;
    cursor:pointer;
}

.box-image6{
    width:100%;
    height: 350px;
    overflow: hidden;
    background:  url('../images/french-6.jpeg') no-repeat center center;
    z-index: -1;
    cursor:pointer;
}

.description{
    width: 100%;
    height: 350px;
    -webkit-transition: 0.7s; /* Safari */
    transition: 0.7s;
    background: rgba(255, 255, 255, 0.9);
}


.description.sweet{
    text-align: left;
    padding: 15px;
    font-size: 14px;
    color: white;
}

.sweet{
    margin-top: 350px;
}

.box-image:hover .sweet{
    margin-top: 0;
}

.box-image2:hover .sweet{
    margin-top: 0;
}

.box-image3:hover .sweet{
    margin-top: 0;
}

.box-image4:hover .sweet{
    margin-top: 0;
}

.box-image5:hover .sweet{
    margin-top: 0;
}

.box-image6:hover .sweet{
    margin-top: 0;
}


/*End of Second */

/*Footer */

footer{
    width: 100%;
    height: auto;
    /*background: url("../images/bottom.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    font-family: 'Arvo', serif;
    background-color: rgba(189, 189, 189, 0.5);
}

p.bottom{
    margin-top: 40px;
    color:#212121;
    font-size: 18px;
    font-weight:550;
    text-align: left;
}

p.bottom:nth-child(1){
    margin-top:70px;
}

p.form-title{
    color: #212121;
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    text-align: center;
}


.bottom a i{
    height: 80px; 
}

.copy p{
    margin-top: 70px;
    color:#212121;
    font-size: 14px;
    text-align: center;
}
.copy a{
    color: #212121;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.copy a:hover{
    color: #D32F2F;
    text-decoration: none;
}

.fa{
    font-size: 1.5em!important;
    color: #D32F2F;
    text-align: center;
    padding: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fa:hover{
    color: #757575;
    padding: 5px;
}

form{
    text-align: center;
}

.large{
    border-radius: 3px;
    width: 80%;
    color: #757575;
    padding: 5px;
}

input, button, textarea{
    border:none;
}

textarea:focus, input:focus{
    outline: none;
}

.submit{
    border-radius: 7px;
    padding: 12px;
    color: #fff;
    background-color: #D32F2F;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.submit:hover{
    color: white;
    background-color: #757575;
}

/*End of Footer */

/*Media Queries */

@media screen and (min-width: 768px){
    p.bottom{
        padding: 20px 70px;
    }

    p.form-title{
        margin-top:70px;
    }
}

@media screen and (max-width: 1024px) {

    nav ul{
        margin-top: 5px;
    }

    nav li a{
        padding: 9px;
    }

    .first{
        height: auto;

    }
}


@media screen and (max-width: 767px) {
    body {
        margin: 0;
        width: 100%;
        clear: none;
        text-align: center;
    }

    .logo{
        margin-left: 0px;
        padding: 8px;
    }

    nav{
        height: auto;
        line-height:35px;
    }

    nav ul {
        float: none;    
    }


    nav li{
        padding: 0;
        padding-bottom: 5px;
        margin-left: 0px;
        text-align: center; 
    }

    .box-image, .box-image1 , .box-image2, .box-image3, .box-image4, .box-image5, .box-image6{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        /* height: auto; */

    }

    .main{
        height: 550px;
    }

    .main:after{
        content: "";
        display: block;
        position: absolute; 
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    p.bottom{
        text-align: center;

    }
}


@media screen and (max-width: 400px) {
    .box-image, .box-image1 , .box-image2, .box-image3, .box-image4, .box-image5, .box-image6 {
        width: 100%;       
    }



}

/*End of Medias */
